{% extends "base.html" %}
{% block title %}SYFW To-Do List{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1 class="mt-5">Welcome to the SYFW To-Do List Project</h1>
            <hr>
            <p>This is the main page for the SYFW To-Do List application.</p>
            <p>Functionality will be implemented here.</p>
            <!-- Example link back to the main site -->
            <a href="{{ url_for('home') }}">Back to Main Site</a>
        </div>
    </div>
</div>
{% endblock %}